<form [formGroup]="miFormulario" (ngSubmit)="login()"  fxLayoutAlign="center center" >

    <div fxLayout="column" fxFlex="30"fxLayoutGap="20px" >
        <span class="login100-form-title p-b-49 p-t-90 text-w">Login</span>
        <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input type="text" formControlName="username" matInput required placeholder="Ingrese su usuario">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input type="password" formControlName="password" matInput required placeholder="Ingrese su contraseña">
        </mat-form-field>
    
        <button mat-raised-button color="primary" (click)="login()" [disabled]="miFormulario.invalid || cargando">
            <mat-icon>login</mat-icon> Login
        </button>
    
        <div class="flex-col-c p-t-60">
            <span class="txt1 p-b-17">
                ¿No tienes cuenta?
            </span>
            <a routerLink="/auth/registro"  >
                Crear una aquí
            </a>
        </div>
    </div>
</form>
<mat-progress-bar mode="indeterminate" *ngIf="cargando"></mat-progress-bar>