<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <button mat-list-item [matMenuTriggerFor]="tienda" routerLinkActive="active">
                <mat-icon mat-list-icon>store</mat-icon>
                <span>Tienda</span>
            </button>
        </mat-nav-list>

        <mat-nav-list *ngIf="usuario.rol.includes('ROLE_COMPRAS')" routerLinkActive="active">
            <button mat-list-item [matMenuTriggerFor]="compras">
                <mat-icon mat-list-icon>precision_manufacturing</mat-icon>
                <span>Dep. Compras</span>
            </button>
        </mat-nav-list>

        <mat-nav-list *ngIf="usuario.rol.includes('ROLE_ADMIN')" routerLinkActive="active">
            <button mat-list-item [matMenuTriggerFor]="administrador">
                <mat-icon mat-list-icon>admin_panel_settings</mat-icon>
                <span>Editar usuarios</span>
            </button>
        </mat-nav-list>
        
        <mat-menu #administrador="matMenu">
            <button mat-menu-item routerLink="/admin" (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>manage_account</mat-icon> <span>Editar</span>
            </button>
        </mat-menu>

        <mat-menu #tienda="matMenu">
            <button mat-menu-item routerLink="/productos" (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>shopping_bag</mat-icon> <span>Comprar</span>
            </button>
            <button mat-menu-item routerLink="/productos/carrito" (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>shopping_cart</mat-icon><span>Carrito</span>
            </button>
        </mat-menu>

        <mat-menu #compras="matMenu">
            <button mat-menu-item routerLink="/compras/listar" (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>view_module</mat-icon> <span>Ver productos</span>
            </button>
            <button mat-menu-item routerLink="/compras/nuevo" (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>add_circle</mat-icon><span>Crear nuevo</span>
            </button>
            <button mat-menu-item routerLink="/compras/pedido" (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>assignment_turned_in</mat-icon><span>Ver pedidos</span>
            </button>
        </mat-menu>
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <strong>{{ usuario.nombre }}</strong>
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menuUsuario">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menuUsuario="matMenu">
            <button mat-menu-item routerLink="/usuario">
                <mat-icon mat-list-icon>manage_accounts</mat-icon> <span>Editar usuario</span>
            </button>
            <button mat-menu-item routerLink="./auth/login" (click)="logout()">
                <mat-icon mat-list-icon>logout</mat-icon><span>Logout</span>
            </button>
        </mat-menu>

        <img [src]="usuario.imagen" class="img-user">
    </mat-toolbar>
    <router-outlet></router-outlet>
</mat-sidenav-container>