<mat-card mat-card-lg-image >
    <mat-card-header>
        <mat-card-title>{{ compra.nombre }} </mat-card-title>
        <mat-card-subtitle>Cantidad:{{ compra.cantidad }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="compra.foto" class="redondeo">
    <mat-card-content>
        <strong>Total:$ {{ compra.precio * compra.cantidad }}</strong>
    </mat-card-content>
    <mat-card-actions>
        <button mat-mini-fab color="accent" (click)="agregar(-1)" [disabled]="compra.cantidad < 1">
            <mat-icon>remove</mat-icon>
        </button>
        <button mat-mini-fab color="accent" (click)="agregar(+1)" class="ml" [disabled]="compra.existentes === compra.cantidad">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab color="accent" (click)="eliminarCompra(compra.id)" class="ml" >
            <mat-icon>delete</mat-icon>
        </button>
        
    </mat-card-actions>
</mat-card>
