
<form [formGroup]="miFormulario" fxLayoutAlign="center center" (ngSubmit)="registro()">

    <div fxLayout="column" fxFlex="30" fxLayoutGap="20px">
        <span class="login100-form-title p-b-49 p-t-30 text-t">{{(usuario.id)?'Editar':'Nuevo'}} usuario</span>

        <mat-form-field>
            <mat-label>Correo</mat-label>
            <input type="email" formControlName="email" matInput required placeholder="Ingrese su correo">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input type="text" formControlName="nombre" matInput required placeholder="Ingrese su nombre">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input type="text" formControlName="usuario" matInput required placeholder="Ingrese su usuario">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input type="password" formControlName="password" (input)="verificarPassword()" matInput required placeholder="Ingrese su contraseña">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Verificar contraseña</mat-label>
            <input type="password" formControlName="password2" (input)="verificarPassword()" matInput required placeholder="verifique su contraseña">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="registro()" [disabled]="miFormulario.invalid || cargando">
            <mat-icon *ngIf="!usuario.id">person_add</mat-icon> Crear
        </button>

        <div class="flex-col-c p-t-60">
            <span class="txt1 p-b-17">
                ¿Ya tienes cuenta?
            </span>

            <a routerLink="/auth/login" class="text-m">
                Ingresar aquí
            </a>
        </div>
    </div>
</form>

<mat-progress-bar mode="indeterminate" *ngIf="cargando"></mat-progress-bar>